<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Alquiler Coches{% endblock %}</title>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />


        {% block stylesheets %}
        {# Latest compiled and minified CSS #}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        {# Optional theme #}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
        {# Font Awesome #}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        {# Estilos propios #}
        <link rel="stylesheet" href="{{ asset('bundles/framework/css/styles.css') }}" />
        {% endblock %}

        
    </head>
    <body>
        <header id="pagehead" role="navigation" class="navbar navbar-default">
            <div class="container">
                <div class="row">
                    <ul class="list-unstyled list-inline">
                        <li><a href="/"><i class="fa fa-home fa-2x"></i></a></li>
                        <li><a href="/register/">Registro</a></li>
                        {# Entrar o salir dependiendo de si hay sesión iniciada #}
                        {% if not app.user %}
                            <li> <a  href="/login">Entrar </a></li>
                        {% else %}
                            <li>{{ app.user.getEmail() }} </li>
                            <li><a href="/logout">Salir</a></li>
                            <li><a href="/profile">Perfil</a></li>
                        {# Si es administrador, mostrar link a página de administración #}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="/admin">Administración</a></li>
                        {% endif %}
                        {% endif %}
                    </ul>
                </div>
                <div class="row">
                    <h2 class="text-center">Alquiler de coches</h2>
                </div>
            </div>
        </header>
        <div class="container">
            {% block contenido %}{% endblock %}
        </div>
            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
    <footer role="contentinfo">
        <hr>
        <div class="container">
            <p class="text-center">Ingeniería de Software II, Grupo 22</p>
        </div>
    </footer>
</html>
