{# página con formulario para añadir un nuevo coche. Ver http://symfony.com/doc/current/book/forms.html#rendering-the-form #}
{% extends 'base.html.twig' %}
{% block title%}Añadir coche{% endblock %}
{% block contenido %}
	<h2>Añadir coche a la base de datos</h2>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}
