{% extends 'base.html.twig' %}
{% block title%}Añadir coche: éxito{% endblock %}
{% block contenido %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Coche añadido</h3>
		</div>
		<div class="panel-body">
			Se ha añadido un nuevo coche a la base de datos.
		</div>
	</div>
	<a class="btn btn-primary btn-lg" role="button" href="/admin">Volver a la página de administración.</a>
	<a class="btn btn-primary btn-lg" role="button" href="/admin/addcoche">Añadir otro coche.</a>
{% endblock %}