{# página principal de administración. Botones a añadir coche, cambiar estado, añadir franquicia... #}
{% extends 'base.html.twig' %}
{% block title%}Administración{% endblock %}
{% block contenido %}
	<h2>Administración</h2>
	<ul>
		<li><a href="/admin/addcoche">Añadir un coche</a></li>
	</ul>
{% endblock %}
