{% extends 'base.html.twig' %}
{% block title%}Reservar coche{% endblock %}
{% block contenido %}

	<h2>Reservar {{ reserva.getCoche().getMarca() }} {{ reserva.getCoche().getModelo() }} con matrícula {{ reserva.getCoche().getId() }} </h2>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
{% endblock %}