{% extends 'base.html.twig' %}
{% block title%}Reservar coche: éxito{% endblock %}
{% block contenido %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Coche reservado</h3>
		</div>
		<div class="panel-body">
			El coche ha sido reservado. Deberá pagarlo en metálico al recogerlo. Los datos son los siguientes:
			<ul>
				<li>Identificador de la reserva: {{ reserva.getId() }}</li>
				<li>Coche: {{ reserva.coche.Marca }} {{ reserva.coche.modelo }} con matrícula {{ reserva.coche.id }} (Gama {{ reserva.coche.gama }})</li>
				<li>Fecha recogida: {{ reserva.fechaInicio.format("d-m-y") }}</li>
				<li>Fecha devolución: {{ reserva.fechaFin.format("d-m-y") }}</li>
				<li>Precio: {{ reserva.calcularPrecio() }} €</li>
			</ul>
		</div>
	</div>
	<a class="btn btn-primary btn-lg" role="button" href="/">Volver al inicio.</a>
{% endblock %}