{% extends 'base.html.twig' %}
{% block title%}Inicio{% endblock %}

{% block contenido %}
	<div class="row">
		
		<h1>Reservar coche <small>Necesario estar registrado</small></h1>

		{# Tabla con los coches disponibles en la BD y link para reservarlos #}
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Gama</th>
						<th>Marca</th>
						<th>Modelo</th>
						<th>Matrícula</th>
						<th>Reservar</th>
					</tr>
				</thead>
				<tbody>
					{% for c in coches %}
						<tr>
							<td>{{ c.getGama() }}</td>
							<td>{{ c.getMarca() }}</td>
							<td>{{ c.getModelo() }}</td>
							<td>{{ c.getId() }}</td>
							<td><a href="/reservar/{{ c.getId() }}">Reservar</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>	
	</div>
{% endblock %}