{# app/Resources/views/security/login.html.twig #}
{# http://symfony.com/doc/current/cookbook/security/form_login_setup.html #}

{% extends 'base.html.twig' %}
{% block title%}Entrar{% endblock %}
{% block contenido %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path('login_check') }}" method="post">
    <label for="username">Email:</label>
    <input type="email" id="email" name="_username" value="{{ last_username }}" />

    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="_password" />

    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}

    <button type="submit">Entrar</button>
</form>
{% endblock %}