{# app/Resources/views/registration/register.html.twig #}
{% extends 'base.html.twig' %}
{% block title%}Registro{% endblock %}
{% block contenido %}
	{{ form_start(form) }}
    {{ form_row(form.nombre) }}
    {{ form_row(form.apellidos) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

    <button type="submit">Registrarse</button>
{{ form_end(form) }}
{% endblock %}